@import '../styles/base';

$theme-draggable-header-height: 1.5rem !default;
$theme-draggable-footer-height: 2rem !default;

$theme-draggable-footer-button-height: 1.75rem !default;
$theme-draggable-footer-button-width: 1.75rem !default;

$theme-draggable-content-padding: .4rem !default;

$theme-draggable-border-color: rgba(0, 0, 0, .23) !default;

.draggable {
  position: absolute;

  display: grid;
  grid-template-rows: $theme-draggable-header-height auto $theme-draggable-footer-height;
  background: #fff;
  box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .3);
  border: solid 2px $theme-draggable-border-color;
}

.editing {
  border: solid 2px #f00;
}

.header {
  display: flex;
  align-items: center;
  height: 1.5rem;
  user-select: none;
  border-bottom: solid 2px $theme-draggable-border-color;
  padding: 0 $theme-draggable-content-padding;
  font-weight: bold;
  text-transform: uppercase;
}

/**/

.headerTitle {
  flex: 1;
  font-size: .875rem;
}

/**/

.footer {
  display: flex;
}

.footerButtonGroup {
}

/**/

.content {
  padding: $theme-draggable-content-padding;
}

.contentDisplay {
  white-space: pre-wrap;
  font-size: 0.875rem;
}

.enabled {
  border: solid 2px #f00;
}

.contentContainer {
}
