.style {
  border: dashed 1px #f00;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  width: 10rem;
  font-size: 0.8rem;
}

.controls {
  display: grid;
  grid-template-columns: 3rem auto;
  margin: 0;
}

.controls dt,
.controls dd {
  border: solid 1px #f00;
}
